*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #81ecec;
}
body .imagenCentral{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 70vh;
}
.customNavBar{
    background-color: #0984e3;
}
.customCard{
    background-color: #00cec9;
}
.colorModal{
    background-color: #a29bfe;
}
.colorTable{
    margin: 0 auto;
    background-color: #74b9ff;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
}
.colorTable td, td{
    padding: 15px;
    border: 1px solid black;
}
.colorTable th{
    padding: 10px;
    border: 1px solid black;
}
.contieneTabla{
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    align-items: center; 
}